<div data-aos="fade-right row" class="sobre p-2 bd-highlight" id="sobre">
    <div class="foto col-12 col-sm-4 col-md-5 col-lg-4 col-xl-4	col-xxl-4">
    </div>
    <div class="txt-sobre col-12 col-sm-8 col-md-7 col-lg-8 col-xl-8	col-xxl-8">
        <h1>JUAN CARLOS CANALES LINARES - SOFTWARE DEVELOPER.</h1>
        <p>{{'intro' | translate}}<br>
          {{'intro2' | translate}}</p>
        <div class="info-sobre">
          <h1>{{'compe' | translate}}</h1>
          <ul id="lista">
            <li>{{'compe1' | translate}}</li>
            <li>{{'compe2' | translate}}</li>
            <li>{{'compe3' | translate}}</li>
            <li>{{'compe4' | translate}}</li>
          </ul>
        </div>
        <a class="descr" href="../../assets/pdf/JCCANALESLINARES_CV.pdf" download="CanalesLinares_CV">{{'desc' | translate}}<mat-icon>download</mat-icon></a>
    </div>
</div>