<div data-aos="fade-right row" class="sobre p-2 bd-highlight" id="sobre">
    <div class="foto col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2	col-xxl-2">
    </div>
    <div class="txt-sobre">
        <h1>JUAN CARLOS CANALES LINARES - SOFTWARE DEVELOPER.</h1>
        <p>Si me tuviera que definir a mi mismo me definiría como una persona inquieta, creativa y perfeccionista.</p>
        <div class="info-sobre">
          <ul id="lista">
            <li>List item</li>
            <li>List item</li>
          </ul>
        </div>
        <a class="descr" href="../../assets/pdf/Canales_Linares_CV.pdf" download="CanalesLinares_CV">Descargar aquí <mat-icon>download</mat-icon></a>
    </div>
</div>