.sobre {
    background-color: rgb(0, 194, 145);
    color: rgb(0, 0, 56);
    width: 100%;
    height: 500px;
}

.sobre h1{
  color: rgb(0, 0, 56)!important;
  margin: 5px;
}

.txt-sobre{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.txt-sobre p {
  font-size: 16px;
  font-family: 'Quicksand';
}

.info-sobre{
  background-color: rgb(0, 56, 47)!important;
  color: white;
  border-radius: 7px;
  padding: 5px;
  padding-top: 10px;
}

.info-sobre h1{
    color: white!important;
}

#lista {
  counter-reset: li; 
  list-style: none; 
  *list-style: decimal; 
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#lista ul {
  margin: 0 0 0 2em; 
}

#lista li{
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  *padding: .4em;
  margin: .5em 0 .5em 2.5em;
  background: #ddd;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;   
}

#lista li:hover{
  background: #eee;
}   

#lista li:before{
  content: counter(li);
  counter-increment: li;
  position: absolute; 
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #72fa84;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

#lista li:after{
  position: absolute; 
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;               
}

#lista li:hover:after{
  left: -.5em;
  border-left-color: #72fa84;             
}

.descr {
  font-size: 30px;
  font-family: 'Teko', Arial;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(69,110,78,1);
  -moz-box-shadow: 4px 4px 5px 0px rgba(69,110,78,1);
  box-shadow: 4px 4px 5px 0px rgba(69,110,78,1);
  color: white;
  background-color: #43b46f;
  border-radius: 5px;
  padding: 2px;
  margin-top: 5px;
}

.foto{
    float: left;
    margin:10px auto;
    border-radius:10px;
    box-shadow: 7px 3px 3px rgb(0, 44, 38);;
    padding:13px;
    height:95%;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-image: url("../../assets/fotocv.jpeg");
    background-size: cover;
  }
  
  .foto img{
    width: 100%;
  }

  h1{
    color: white;
    font-size: 50px;
    margin: 10px;
    font-family: 'Teko', Arial;
  }

  @media (max-width: 768px ){

    
    .info-sobre{
      height: 239px;
    }
    
    .txt-sobre{
      display: flex;
      flex-direction: column;
      padding-left: 10px;
    }

    h1{
      font-size: 45px;
    }
  }
  
  @media (max-width: 576px) {

    .foto[_ngcontent-evx-c27] {
      border-radius: 2000px;
      width: 100%;
      height: 33%;
    } 
    .sobre {
      height: 71rem;
    }

    .foto{
      border-radius: 2000px;
      width: 100%;
      height: 50%;
    }
  }
  
  @media (max-width: 540px) {
    h1{
      font-size: 45px;
    }
  }
  
  @media (max-width: 375px) {

    .foto {
      height: 41%;
    }

    .info-sobre{
      height: 250px;
    }

    .sobre {
      height: 64rem;
    }

    h1{
      font-size: 40px;
    }
  }
  
  @media (max-width: 320px) {
    .foto {
      height: 33%;
    }
    .info-sobre{
      height: 285px;
    }

    .sobre {
      height: 61rem;
    }

    h1{
      font-size: 35px;
    }
  }