
<nav class="navbar navbar-expand-lg ">
    <div class="divnav container-fluid">
      <a class="logo navbar-brand" href="#">
        <img src="../../assets/logocl_.png" alt="">
      </a>
      <button mat-mini-fab color="disabled" class="navbar-toggler bg-light navbar-light " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <mat-icon class="navbar-toggler-icon"></mat-icon>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#sobre">{{'sobre' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#exp">{{'experiencia' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#est">{{'estudios' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#cont">{{'contacto' | translate}}</a>
          </li>
          <li class="li-btn">
              <button class="btn" (click)="translateTo('es')"><img src="https://img.icons8.com/color/48/000000/spain-circular.png"/></button>
              <button class="btn" (click)="translateTo('en')"><img src="https://img.icons8.com/color/48/000000/great-britain-circular.png"/></button>
          </li>
        </ul>
      </div>
    </div>
  </nav>