<div data-aos="fade-down" class="exp p-2 bd-highlight" id="exp">
    <h1>{{'exp' | translate}}</h1>
    <div class="row p-0 m-0">
        <div class="col-12 col-sm-5 col-md-5 col-lg-3 col-xl-3	col-xxl-3">
          <div class="list-group" id="list-tab" role="tablist">
            <a href="#" class="list-group-item list-group-item-action activate" id="list-duplach-list" data-bs-toggle="list" href="#list-duplach" role="tab" aria-controls="list-duplach" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                  <h2 class="mb-1">DUPLACH GROUP</h2>
                  <small>2021</small>
                </div>
                <p class="mb-1">Villa del Rio (Cordoba)</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action" id="list-everis-list" data-bs-toggle="list" href="#list-everis" role="tab" aria-controls="list-everis" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                  <h2 class="mb-1">EVERIS (NTT DATA)</h2>
                  <small>2020</small>
                </div>
                <p class="mb-1">Sevilla (Sevilla)</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action" id="list-viewnext-list" data-bs-toggle="list" href="#list-viewnext" role="tab" aria-controls="list-viewnext" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                  <h2 class="mb-1">VIEWNEXT(IBM)</h2>
                  <small>2019</small>
                </div>
                <p class="mb-1">Malaga (Malaga)</p>
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-7 col-md-7 col-lg-9 col-xl-9	col-xxl-9">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show activate" id="list-duplach" role="tabpanel" aria-labelledby="list-duplach-list">
              {{'du' | translate}}
            </div>
            <div class="tab-pane fade" id="list-everis" role="tabpanel" aria-labelledby="list-everis-list">
              {{'eve' | translate}}
            </div>
            <div class="tab-pane fade" id="list-viewnext" role="tabpanel" aria-labelledby="list-viewnext-list">
              {{'vnext' | translate}}
            </div>
          </div>
        </div>
      </div>
</div>
