<div data-aos="fade-right" class="est p-2 bd-highlight" id="est">
    <h1>ESTUDIOS</h1>
    <div class="dot col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"> 
        <div class="dot-txt-small">
            BASICOS
        </div>
        <div class="dot-txt-big">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 
        </div>
    </div>
    <div class="dot col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="dot-txt-small">
            FP
        </div>
        <div class="dot-txt-big">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
        </div>
    </div>
    <div class="dot col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="dot-txt-small">
            CERTIFICADOS
        </div>
        <div class="dot-txt-big">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
        </div>
    </div>
</div>