<div data-aos="fade-right" class="est p-2 bd-highlight" id="est">
    <h1>{{'estudios' | translate }}</h1>
    <div class="dot col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"> 
        <div class="dot-txt-small">
            {{'bas' | translate }}
        </div>
        <div class="dot-txt-big">
            <div class="dot-insd">
                <h3>{{'bach' | translate }}</h3>
                <h4>IES Virgen de la Cabeza</h4>
                <hr>
                <p>{{'bach-des' | translate }}</p>
            </div>
        </div>
    </div>
    <div class="dot col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="dot-txt-small">
            FP
        </div>
        <div class="dot-txt-big">
            <div class="dot-insd">
                <h5>{{'fp' | translate }}</h5>
                <h5>IES Jandula</h5>
                <hr>
                <p>{{'fp-desc' | translate }}</p>
            </div>
        </div>
    </div>
    <div class="dot col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="dot-txt-small">
            {{'cert' | translate }}
        </div>
        <div class="dot-txt-big">
            <div class="dot-insd cert">
                <h4> {{'cert1' | translate }}</h4>
                <hr>
                <a href="https://freecodecamp.org/certification/fccd5b2e9c9-1806-477c-ab19-ec478b85ea75/responsive-web-design">Web Responsive Design</a><br>
                <a href="https://www.udemy.com/certificate/UC-7f6ac0f0-813f-4b8f-9c67-e2ca7b65996f/">{{'cert-ang' | translate }}</a><br>
                <a href="https://openwebinars.net/cert/g902N">{{'cert2' | translate }}</a><br>
                <a href="https://openwebinars.net/cert/5rXrL">{{'cert3' | translate }}</a><br>
                <a href="https://openwebinars.net/cert/Py911">{{'cert4' | translate }}</a>
            </div>
        </div>
    </div>
</div>